Repository golles/ha-knmi: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, ruff-check, ruff-lint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      # - id: check-executables-have-shebangs # Doesn't work in devcontainer on Mac
      # - id: check-json # There is invalid json in the fixtures folder on purpose
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: const.py
      - id: trailing-whitespace

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.97.9
    hooks:
      - id: renovate-config-validator

  # CI checks
  # The following tools are all installed locally, so there is no need to use remote repos.
  # The main reason is to not have to worry about version mismatch between the project and pre-commit.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy custom_components/knmi
        language: system
        types: [python]
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: npm run prettier -- --write .
        language: system
        pass_filenames: false

      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        require_serial: true

      - id: ruff-check
        name: ruff linter
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff formatter
        entry: uv run ruff format --check .
        language: system
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: uv run shellcheck
        language: system
        types: [shell]

      - id: uv-lock
        name: uv lock
        entry: uv lock --check
        language: system
        pass_filenames: false

      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types: [yaml]

Update dependency weerlive-api to v0.2.2
  custom_components/knmi/manifest.json
  pyproject.toml
  uv.lock
Due: none

Remove renovate-config-validator hook
  .pre-commit-config.yaml
Due: yamllint

Swap buien and regen
  custom_components/knmi/weather.py
Due: mypy, pylint, ruff-check, ruff-lint

Update test_weather.py
  tests/test_weather.py
Due: mypy, pylint, ruff-check, ruff-lint

One more bugfix in test_weather.py
  tests/test_weather.py
Due: mypy, pylint, ruff-check, ruff-lint

Move libraries that are needed to run HA into a dependency-group
  .github/renovate.json
  pyproject.toml
  scripts/develop.sh
  uv.lock
Due: none

Add config_entry parameter to KnmiDataUpdateCoordinator
  custom_components/knmi/__init__.py
Due: mypy, pylint, ruff-check, ruff-lint

Add config_entry parameter to coordinator initialization
  custom_components/knmi/coordinator.py
Due: mypy, pylint, ruff-check, ruff-lint

Fix: Detected code that relies on ContextVar
  custom_components/knmi/__init__.py
  custom_components/knmi/coordinator.py
  tests/test_coordinator.py
  tests/test_init.py
Due: mypy, pylint, ruff-check, ruff-lint

Revert "Update mcr.microsoft.com/devcontainers/python Docker tag to v3.14 (#285)"
  .devcontainer/devcontainer.json
Due: none

Do not auto merge dev container updates
  .github/renovate.json
Due: none

Add a comment to issue when the API issue label is added Also include a link to report API issues to the supplier
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/api-issue-comment.yaml
Due: yamllint

Improve setup_env.sh
  scripts/setup_env.sh
Due: none

Update license.yaml
  .github/workflows/license.yaml
Due: yamllint

docs(license): update copyright year(s)
  LICENSE
Due: none

Several improvements (HA 2026.2, Python 3.14):
  .github/ISSUE_TEMPLATE/bug.yaml
  .vscode/settings.json
  custom_components/knmi/weather.py
  hacs.json
  pyproject.toml
  sonar-project.properties
  tests/test_coordinator.py
  tests/test_init.py
  tests/test_weather.py
  uv.lock
Due: mypy, pylint, ruff-check, ruff-lint, yamllint

Don't use url's in translation files, use description placeholders instead
  custom_components/knmi/config_flow.py
  custom_components/knmi/translations/en.json
  custom_components/knmi/translations/nl.json
Due: mypy, pylint, ruff-check, ruff-lint

Now really remove the URL
  custom_components/knmi/translations/en.json
Due: none

Update `async_reload_entry`
  custom_components/knmi/__init__.py
  tests/test_init.py
Due: mypy, pylint, ruff-check, ruff-lint

Bump version in manifest
  custom_components/knmi/manifest.json
Due: none

Add `disclaimer` field to fixtures
  tests/fixtures/clear_night_fix.json
  tests/fixtures/cold_snow.json
  tests/fixtures/response.json
  tests/fixtures/response_alarm.json
  tests/fixtures/warm_snow.json
Due: none

v7 breaking change; use token from input
  .github/workflows/release-drafter.yaml
Due: yamllint

Add function to check installed Python packages
  scripts/utils.sh
Due: none

Update CONTRIBUTING.md with PR process for bots
  CONTRIBUTING.md
Due: none

chore: add CLAUDE.md and update dev container config
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  CLAUDE.md
Due: none

fix: update weerlive-api to 0.2.4
  custom_components/knmi/manifest.json
  custom_components/knmi/weather.py
  pyproject.toml
  tests/test_weather.py
  uv.lock
Due: mypy, pylint, ruff-check, ruff-lint

fix(lint): ignore CPY001 to fix ruff 0.16.0 compatibility
  pyproject.toml
Due: none

test: wrap implicitly concatenated strings to satisfy ruff 0.16.0 (ISC004)
  tests/test_binary_sensor.py
Due: mypy, pylint, ruff-check, ruff-lint

Fix reconfigure on Home Assistant 2026.12 and newer
  custom_components/knmi/__init__.py
  custom_components/knmi/config_flow.py
  tests/test_config_flow.py
  tests/test_init.py
Due: mypy, pylint, ruff-check, ruff-lint

Fix missing weerlive_url placeholder in reconfigure step
  custom_components/knmi/config_flow.py
  tests/test_config_flow.py
Due: mypy, pylint, ruff-check, ruff-lint
